body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    padding: 20px;
    max-width: 600px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    font-size: 13px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.separator {
    border-right: 2px solid black;
}

.hidden {
    display: none;
}

.table tr td {
    font-size: 12px;
}
.find-button {
    float: right;
    margin-right: 5px;
}
.btn-click {
    color: white;
    background-color: #364958;
    font-size: 15px;
}
.convert-lunar {
    display: none;
}
.long-number {
    display: none;
}