.bg-green1 {
  background-color: rgb(224, 255, 224);
  font-size: 20px;
}
.bg-green2 {
  background-color: rgb(173, 217, 173);
  font-size: 20px;
}
.bg-green3 {
  background-color: rgb(132, 174, 132);
  font-size: 20px;
}
.bg-green4 {
  background-color: rgb(84, 108, 84);
  font-size: 20px;
  color: white;
}
.bg-green5 {
  background-color: rgb(55, 86, 55);
  font-size: 20px;
  color: white;
}

.flexion {
  display: flex;
}
.w-100px {
  width: 80px;
}